{% extends 'navbar/navSidebar.html' %}
{% block title %} My Surveys {% endblock %}

{% block content %}
<body>
    <!-- Main content area for displaying user's surveys -->
<div class="content">
    <!-- Header for the My Surveys page -->
    <h2>My Surveys</h2>
    <!-- Container for the survey list and the new survey button -->
    <div class="container mt-3">
        <div class="d-flex justify-content-end mb-3">
            <a class="btn btn-primary" href="{{ url_for('main.create_survey') }}" >+ New Survey</a>
        </div>
        <!-- List group for displaying surveys -->
        <div class="list-group" id="surveyList">
            {% for survey in surveys %}
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        {{survey.title}}<br>
                        <small>created by: {{survey.created_at}} </small>
                    </div>
                    <div>
                        <a class="btn btn-outline-primary btn-space" href="{{ url_for('main.survey_result', survey_id=survey.id) }}">View Result</a>
                        <a class="btn btn-outline-danger btn-space" href="{{ url_for('main.delete_survey', survey_id=survey.id) }}">Delete</a>
                    </div>
                </div>
            {% else %}
            <!-- Message displayed if no surveys are found  -->
                <div>
                    No survey found!
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
