{% extends 'navbar/navSidebar.html' %}
{% block title %} My Surveys {% endblock %}
{% block content %}
<body>
<div class="content">
    <h2>My Surveys</h2>
    <div class="container mt-3">
        <div class="d-flex justify-content-between mb-3">
            <a class="btn btn-primary btn-lg" href="{{ url_for('create_survey') }}">+ New Survey</a>
        </div>
        <div class="list-group" id="surveyList">
            {% for survey in surveys %}
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        {{survey.title}}<br>
                        <small>created by: {{survey.created_at}} </small>
                    </div>
                    <div>
                        <a class="btn btn-outline-primary btn-space" href="{{ url_for('survey_result', survey_id=survey.id) }}">View Result</a>
                        <a class="btn btn-outline-danger btn-space" href="{{ url_for('delete_survey', survey_id=survey.id) }}">Delete</a>
                    </div>
                </div>
            {% else %}
                <div>
                    No survey found!
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
