{% extends "navbar/navbar.html" %}
{% block title %} Survey Dashboard {% endblock %}
{% set visible=True %}
{% block content %}
<div class="container mt-3">
    <!-- Search Bar -->
    <div class="mb-3">
        <input type="text" class="form-control" id="searchInput" onkeyup="searchItems()" placeholder="Search for survey title..." aria-label="Search">
    </div>
    <div id="filter-options" class="container">
        <div class="row row-cols-2 row-cols-md-5 g-2">
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-education" autocomplete="off" value="education">
                <label class="btn btn-outline-primary w-100" for="btn-check-education">Education</label>
            </div>
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-business" autocomplete="off" value="business">
                <label class="btn btn-outline-primary w-100" for="btn-check-business">Business</label>
            </div>
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-healthcare" autocomplete="off" value="healthcare">
                <label class="btn btn-outline-primary w-100" for="btn-check-healthcare">Healthcare</label>
            </div>
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-technology" autocomplete="off" value="technology">
                <label class="btn btn-outline-primary w-100" for="btn-check-technology">Technology</label>
            </div>
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-entertainment" autocomplete="off" value="entertainment">
                <label class="btn btn-outline-primary w-100" for="btn-check-entertainment">Entertainment</label>
            </div>
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-social" autocomplete="off" value="social">
                <label class="btn btn-outline-primary w-100" for="btn-check-social">Social</label>
            </div>
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-politics" autocomplete="off" value="politics">
                <label class="btn btn-outline-primary w-100" for="btn-check-politics">Politics</label>
            </div>
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-science" autocomplete="off" value="science">
                <label class="btn btn-outline-primary w-100" for="btn-check-science">Science</label>
            </div>
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-environment" autocomplete="off" value="environment">
                <label class="btn btn-outline-primary w-100" for="btn-check-environment">Environment</label>
            </div>
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-personal_development" autocomplete="off" value="personal_development">
                <label class="btn btn-outline-primary w-100" for="btn-check-personal_development">Self-Improvement</label>
            </div>
        </div>
    </div>
    
</div>
    
    
<!-- Content Containers -->
<div class="container mt-3">
    <div class="row" id="survey-list"></div>
</div>
<script>
    var surveys = {{ surveys|tojson | safe }};
</script>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/survey_dashboard.js') }}"></script>
{% endblock %}