{% extends "navbar/navbar.html" %}
{% set visible=True %}
{% block content %}
<div class="container mt-3">
    <!-- Search Bar -->
    <div class="mb-3">
        <input type="text" class="form-control form-control-lg" id="searchInput" onkeyup="searchItems()" placeholder="Search for survey title..." aria-label="Search">
    </div>
    <div id="filter-options" class="container">
        <div class="row row-cols-3 g-2">
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-education" autocomplete="off" value="education">
                <label class="btn btn-outline-primary w-100 position-relative" for="btn-check-education">
                    <img src="/static/img/education.jpg" class="img-fluid category-img" alt="Education">
                    <span class="centered-text">Education</span>
                </label>
            </div>
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-business" autocomplete="off" value="business">
                <label class="btn btn-outline-primary w-100 position-relative" for="btn-check-business">
                    <img src="/static/img/business.jpg" class="img-fluid category-img" alt="Business">
                    <span class="centered-text">Business</span>
                </label>
            </div>
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-healthcare" autocomplete="off" value="healthcare">
                <label class="btn btn-outline-primary w-100 position-relative" for="btn-check-healthcare">
                    <img src="/static/img/healthcare.jpg" class="img-fluid category-img" alt="Healthcare">
                    <span class="centered-text">Healthcare</span>
                </label>
            </div>
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-technology" autocomplete="off" value="technology">
                <label class="btn btn-outline-primary w-100 position-relative" for="btn-check-technology">
                    <img src="/static/img/technology.jpg" class="img-fluid category-img" alt="Technology">
                    <span class="centered-text">Technology</span>
                </label>
            </div>
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-entertainment" autocomplete="off" value="entertainment">
                <label class="btn btn-outline-primary w-100 position-relative" for="btn-check-entertainment">
                    <img src="/static/img/entertainment.jpg" class="img-fluid category-img" alt="Entertainment">
                    <span class="centered-text">Entertainment</span>
                </label>
            </div>
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-social" autocomplete="off" value="social">
                <label class="btn btn-outline-primary w-100 position-relative" for="btn-check-social">
                    <img src="/static/img/social.jpg" class="img-fluid category-img" alt="Social">
                    <span class="centered-text">Social</span>
                </label>
            </div>
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-politics" autocomplete="off" value="politics">
                <label class="btn btn-outline-primary w-100 position-relative" for="btn-check-politics">
                    <img src="/static/img/politics.jpg" class="img-fluid category-img" alt="Politics">
                    <span class="centered-text">Politics</span>
                </label>
            </div>
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-science" autocomplete="off" value="science">
                <label class="btn btn-outline-primary w-100 position-relative" for="btn-check-science">
                    <img src="/static/img/science.jpg" class="img-fluid category-img" alt="Science">
                    <span class="centered-text">Science</span>
                </label>
            </div>
            <div class="col">
                <input type="checkbox" class="btn-check filter-type" id="btn-check-environment" autocomplete="off" value="environment">
                <label class="btn btn-outline-primary w-100 position-relative" for="btn-check-environment">
                    <img src="/static/img/environment.jpg" class="img-fluid category-img" alt="Environment">
                    <span class="centered-text">Environment</span>
                </label>
            </div>
        </div>
    </div>
</div>
    
<!-- Content Containers -->
<div class="container mt-3">
    <div class="row" id="survey-list"></div>
</div>

<script src="static/js/survey_dashboard.js"></script>
<link rel="stylesheet" href="static/css/survey_dashboard.css">
{% endblock %}
