.section-padding {
    padding: 60px 0;
}

.section-bg {
    background-color: #f9f9f9;
}

.mission-text, .goal-text {
    color: #05a0dd; 
}

.email-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.email-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.email-button {
    background-color: #029dda;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 80px 20px;
    cursor: pointer;
    border-radius: 22px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.email-button:hover {
    background-color: #074c67;
}
