@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Roboto:wght@400;700&display=swap');

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f0f4f8;
    color: #333;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    max-width: 90%;
    margin: auto;
}

h1, .criteria-title {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    color: #204056;
}

h1 {
    font-size: 28px;
}

.criteria-title {
    font-size: 22px;
    margin-top: 20px;
}

.table-responsive {
    width: 100%;
}

table {
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #cccccc;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    font-family: 'Roboto', sans-serif;
}

th {
    background-color: #f0f0f0;
    font-weight: 700;
    color: #204056;
    text-align: center;
}

td {
    color: #204056;
    text-align: center;
}

.circle-button {
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 19px;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    transition: background-color 0.2s;
}

.panel {
    text-align: justify;  /* Adding justify to make text aligned on both sides */
    margin-top: 10px;
    font-size: 16px;
    color: #666;  /* Slightly muted color for less emphasis */
    border: 2px dashed #cccccc; /* Adding dashed border */
    padding: 10px; /* Adding padding inside the border */
    border-radius: 10px; /* Adding border radius for rounded corners */
    background-color: #f9f9f9; /* Light background color */
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Ensure the avatar is circular */
    margin-right: 10px; /* Space between the avatar and username */
}
