.container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:50%;
    margin: auto;
}
h1 {
    font-family: 'Arial', sans-serif;
    color:#4783c7;; 
    text-align: center; 
}
p {
    color: #6c757d; 
}
.dotted-line {
    border: none;
    border-top: 2px dotted #ccc;
    color: #fff;
    background-color: #fff;
    height: 2px;
    width: 100%;
    margin: 20px 0;
}
.form-check-label {
    margin-left: 0.5rem;
    font-weight: 400;
}
.btn-primary {
    background-color: #3e83d1;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 40px;
}
.btn-primary:hover {
    background-color: #125baf;
}
.submit-botton{
    justify-content: center;
    display: flex;
}
.form-control {
    margin-bottom: 1rem;
}
