
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, neue, sans-serif;
}
.container {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    padding: 20px;
    transition: margin-left 0.3s;
    width: calc(100% - 280px); 
}
@media (max-width: 768px) {
        .sidebar {
            width: 100%; 
            height: auto; 
            position: relative;
        }

        .container {
            margin-left: 0; 
            width: 100%;
        }
}
.profileimg {
    width: 150px;  
    height: 150px; 
    object-fit: cover; 
    border-radius: 50%;
    border: 2px solid #dee2e6;
}
.form-label{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

