<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Us</title>
<link rel="stylesheet" href="../static/style/aboutus.css">
</head>
<body>

<div class="content">
  <div class="grid">
    <!-- Card 1 - What We Do -->
    <div class="card flex-row">
        <img src="https://res.cloudinary.com/dynbwiv3t/image/upload/v1714477459/declan-sun-vJF-hGYyFho-unsplash_ajcars.jpg" alt="Our Goal Image" class="card-img">
        <div class="card-content">
            <h3>What We Do</h3>
            <p>At our polls and surveys website, our primary objective is to revolutionize the way data is collected and shared.<br> We strive to create a dynamic platform where users can actively engage in the process of gathering valuable insights and information.</p>
            
            <!-- Section for survey features -->
            <div class="features">
                <div class="feature-card">
                    <h4>Create Custom Surveys</h4>
                    <p>Whether you're looking to gather opinions, conduct research, or just have fun, our survey builder makes it easy to design surveys tailored to your needs.</p>
                </div>
                <div class="feature-card">
                    <h4>Participate in Surveys</h4>
                    <p>Explore a wide range of surveys on various topics and share your insights with the community.</p>
                </div>
                <div class="feature-card">
                    <h4>Compete on Leaderboards</h4>
                    <p>Engage in friendly competition by climbing the leaderboards based on your participation and survey performance.</p>
                </div>
            </div>
        </div>
    </div>
     
    <!-- Card 2 - Why We Do It -->
    <div class="card flex-row-reverse">
        <img src="https://res.cloudinary.com/dynbwiv3t/image/upload/v1714477445/christina-wocintechchat-com-03hBSIiFikE-unsplash_gmg2ha.jpg" alt="Our Story Image" class="card-img">
        <div class="card-content">
            <h3>Why We Do It</h3>
            <p>Our platform provides users with the tools to:</p>
            <!-- Section for survey features -->
            <div class="features">
                <div class="feature-card">
                    <h4>Create Custom Surveys</h4>
                    <p>Whether you're looking to gather opinions, conduct research, or just have fun, our survey builder makes it easy to design surveys tailored to your needs.</p>
                </div>
                <div class="feature-card">
                    <h4>Participate in Surveys</h4>
                    <p>Explore a wide range of surveys on various topics and share your insights with the community.</p>
                </div>
                <div class="feature-card">
                    <h4>Compete on Leaderboards</h4>
                    <p>Engage in friendly competition by climbing the leaderboards based on your participation and survey performance.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card flex-row">
        <img src="https://res.cloudinary.com/dynbwiv3t/image/upload/v1714477445/christina-wocintechchat-com-03hBSIiFikE-unsplash_gmg2ha.jpg" alt="Our Story Image" class="card-img">
        <div class="card-content">
            <h3>Our Values</h3>
            <p>As a team of four dedicated students, we embarked on this project with a singular vision:<br>
                 to create a platform that not only facilitates easy and efficient data collection but also fosters an environment where shared insights pave the way for collective intelligence.<br>
                Our website ensures a tailored approach that aligns with our specific academic insights and technical skills.</p>
        </div>
    </div>
    
    <!-- Card 3 - Contact Us -->
    <div class="card">
        <div class="card-content">
            <h3>Contact Us</h3>
            <div class="contact-us"
              <p>Have questions or feedback? We'd love to hear from you! </p>
            </div>
            <!-- Add button -->
            <div class="email-button-container">
                <button class="email-button" onclick="copyEmail()"><i class="fas fa-envelope"></i> surveystream10@gmail.com</button>
            </div>
        </div>
    </div>
  </div>
</div>

<script src="../static/js/aboutus.js"></script>
</body>
</html>
