<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Us</title>
<link rel="stylesheet" href="../static/style/aboutus.css">
</head>
<body>

<div class="content">
  <h1>About Us</h1>
  <div class="grid">
    <!-- Card 1 - Our Goal -->
    <div class="card flex-row">
        <img src="https://res.cloudinary.com/dynbwiv3t/image/upload/v1714477459/declan-sun-vJF-hGYyFho-unsplash_ajcars.jpg" alt="Our Goal Image" class="card-img">
        <div class="card-content">
            <h3>Our Goal</h3>
            <p>At our polls and surveys website, our primary objective is to revolutionize the way data is collected and shared. We strive to create a dynamic platform where users can actively engage in the process of gathering valuable insights and information.</p>
            <!-- Accordion sections -->
            <button class="accordion">Empowering Users</button>
            <div class="panel">
                <p>We aim to empower users by providing them with the tools and resources needed to create, share, and analyze polls and surveys effortlessly. Through intuitive interfaces and seamless functionality, we encourage users to unleash their creativity and curiosity to address diverse topics and questions.</p>
            </div>
            <button class="accordion">Facilitating Collaboration</button>
            <div class="panel">
                <p>Our goal is to foster a collaborative environment where users can connect, collaborate, and learn from one another. By offering a comprehensive dashboard filled with a myriad of polls and surveys contributed by fellow users, we facilitate knowledge exchange and community-driven exploration.</p>
            </div>
            <button class="accordion">Promoting Transparency</button>
            <div class="panel">
                <p>Transparency is at the core of our mission. We believe in the importance of sharing survey and poll results openly and transparently. Through our platform, users can not only collect data but also share and visualize the results in a clear and comprehensible manner, fostering transparency and accountability.</p>
            </div>
            <!-- End of accordion sections -->
        </div>
    </div>  
    <!-- Card 2 - Our Story -->
    <div class="card flex-row-reverse">
        <img src="https://res.cloudinary.com/dynbwiv3t/image/upload/v1714477445/christina-wocintechchat-com-03hBSIiFikE-unsplash_gmg2ha.jpg" alt="Our Story Image" class="card-img">
        <div class="card-content">
            <h3>Our Story</h3>
            <p>As a team of four dedicated students, we embarked on this project with a singular vision: to create a platform that not only facilitates easy and efficient data collection but also fosters an environment where shared insights pave the way for collective intelligence. Our website ensures a tailored approach that aligns with our specific academic insights and technical skills.</p>
        </div>
    </div>
    <!-- Card 3 - Contact Us -->
    <div class="card">
        <div class="card-content">
            <h3>Contact Us</h3>
            <div class="contact-us"
              <p>If you encounter any problems, you can contact us through the following ways and we will help you solve them as soon as possible.</p>
            </div>
            <!-- Add button -->
            <div class="email-button-container">
                <button class="email-button" onclick="copyEmail()"><i class="fas fa-envelope"></i> support@survey.com</button>
            </div>
        </div>
    </div>
  </div>
</div>

<script src="../static/js/aboutus.js"></script>
</body>
</html>
