{% extends 'navbar/navbar.html' %}
{% set exclude_bootstrap = True %}
{% block extra_css %}
  <link rel="stylesheet" href="../static/style/aboutus.css">
{% endblock %}
{% set visible=True %}
{% block content %}
    <!-- What We Do Section-->
<section class="section-padding">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <h2 class="mission-text">What We Do</h2>
          <p>Our website provides a user-friendly platform for creating, sharing, and responding to surveys. Whether you’re an individual seeking opinions, a researcher conducting a study, or a business collecting customer feedback, our tools make it easy to design and distribute surveys and collect responses efficiently. We enable users to gather meaningful data, understand trends, and make informed decisions through impactful surveys.</p>
        </div>
        <div class="col-lg-6">
          <img src="https://res.cloudinary.com/dynbwiv3t/image/upload/v1715938695/marvin-meyer-SYTO3xs06fU-unsplash_ar6edo.jpg" alt="Buildings" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
     
    <!-- Why We Do It Section -->
  <section class="section-padding section-bg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <img src="https://res.cloudinary.com/dynbwiv3t/image/upload/v1715938711/firmbee-com-jrh5lAq-mIs-unsplash_n4ojby.jpg" alt="Analytics" class="img-fluid">
        </div>
        <div class="col-lg-6">
          <h2 class="goal-text">Why We Do It</h2>
          <p>In today's digital age, gathering insights and feedback is crucial for personal and professional growth. Our goal is to facilitate meaningful interactions and data collection, allowing users to gain a deeper understanding of various topics and trends. By offering a platform that supports diverse needs, such as academic research, market analysis, and personal interest surveys, we aim to create a space where knowledge is shared, and collective intelligence is expanded.</p>
        </div>
      </div>
    </div>
  </section>
  
     <!-- Value Section -->
  <section class="section-padding">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <h2 class="mission-text">Our Values</h2>
            <p>We value collaboration, knowledge-sharing, and user empowerment. Our platform fosters a dynamic community where users can contribute to and benefit from a wealth of diverse perspectives. By participating in surveys, users help build a robust knowledge base that supports continuous learning and growth. We are committed to providing reliable tools and resources that enable users to make informed decisions and drive positive outcomes in both personal and professional spheres.</p>
          </div>
          <div class="col-lg-6">
            <img src="https://res.cloudinary.com/dynbwiv3t/image/upload/v1714477459/declan-sun-vJF-hGYyFho-unsplash_ajcars.jpg" alt="Buildings" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    
      <!-- Contact Us Section -->
      <section class="section-padding section-bg">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <img src="https://res.cloudinary.com/dynbwiv3t/image/upload/v1714477445/christina-wocintechchat-com-03hBSIiFikE-unsplash_gmg2ha.jpg" alt="Analytics" class="img-fluid">
          </div>
          <div class="col-lg-6">
            <h2 class="goal-text">Contact Us</h2>
            <p>If you encounter any problems or have any questions, you can reach out to us through the following ways, and we will assist you as soon as possible. Our dedicated support team is here to help ensure you have a smooth experience on our platform. Whether you need technical assistance, have feedback, or require additional information, don't hesitate to contact us. We are committed to providing prompt and effective support to address your needs and enhance your user experience.</p>
          </div>
          <div class="email-button-container">
              <button class="email-button" onclick="copyEmail()"><i class="fas fa-envelope"></i> Email Us!</button>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/aboutus.js') }}"></script>
{% endblock %}