<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Introduction Page</title>
<link rel="stylesheet" href="../static/style/intro.css">
</head>
<body>
  <div class="bouncing-blobs-container">
    <div class="bouncing-blobs-glass"></div>
    <div class="bouncing-blobs">
      <div class="bouncing-blob bouncing-blob--blue"></div>
      <div class="bouncing-blob bouncing-blob--blue"></div>
      <div class="bouncing-blob bouncing-blob--blue"></div>
      <div class="bouncing-blob bouncing-blob--purple"></div>
      <div class="bouncing-blob bouncing-blob--purple"></div>
      <div class="bouncing-blob bouncing-blob--pink"></div>
    </div>
  </div>
  <div class="hero">
    <h2>Survey Stream <br>Survey the World</h2>
    <p>Shape the Future with Every Survey</p>
    <div class="tutorial-link">
      <a href="./survey/take_survey.html" target="_blank" rel="noopener noreferer">
        Start For Free<i class="bi bi-arrow-right-circle-fill"></i>
      </a>
    </div>
  </div>

<script src="../static/js/intro.js"></script>

</body>
</html>
